@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Other global styles... */

/* Custom CSS for Navbar Link Hover Effect */
.nav-link-underline-effect {
  position: relative;
  transition: color 0.3s ease; /* For text color transition */
}

.nav-link-underline-effect::after {
  content: '';
  position: absolute;
  bottom: -4px; /* Adjust this value to control distance from text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color:#ec4899;
  transition: width 0.3s ease;
}

.nav-link-underline-effect:hover::after {
  width: calc(100% + 10px);
}

/* Optional: If you want to force specific text colors on hover */
.nav-link-underline-effect:hover {
color: #ec4899 !important; /* Keep the text pink on hover */
}

/* For the mobile menu links to also get the hover text color */
.mobile-nav-link-hover-color:hover {
color: #ec4899 !important; /* Keep the text pink on hover */
}
.grain-bg {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.04;
  pointer-events: none;
  z-index: 9998;
}